<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar" style="   ">
  <a  href="/"><h4  >eStore</h4> </a>
  
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
   <a href="/users/upload"  style="   padding-left: 22px;
            color: goldenrod; " id="btn" >Seller mode <span class="glyphicon glyphicon-log-in"></span></a>

      <a href="/signin" id="btn1" style="   padding-left: 22px;
            color: goldenrod; ">Login<span class="glyphicon glyphicon-log-in"></span></a>
    </form>
</nav>
<style>
    .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
   border-radius: 4px;
    color: #f2f2f2;
     background: #ded8d8s;
      box-shadow: 0 -4px 31px 0 rgb(9 0 51);   

}

a:hover {
  
  text-decoration: none;
     
}

.btn {
  
    margin-left: 15px;

}

input[type=search] {
	background: #555 url(http://hp-proliant.co.uk/qual_images/mob-search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
}
input[type=search]:focus {
	width: 600px;
	background-color: #ccc;
	border-color: #333;
	border: solid 1px #fff;
}
</style>