







 <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/assets/css/feathericon.min.css">
		
		<link rel="stylesheet" href="/assets/plugins/morris/morris.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
		
	
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
         		{{#if login}}
            <div class="header"  style="box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);">
			
				<!-- Logo -->
                  <div class="header-left">
                    <a href="/" class="logo">
						<img src="/assets/img/Estorelogo.png" style="max-height: 115px;
    padding-bottom: 24px;" alt="Logo">
					</a>
					<a href="/" class="logo logo-small">
						<img src="/assets/img/estoreSmalllogo.png" style="max-height: 70px;" alt="Logo" width="70" height="70">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>
				
					<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
		
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					<!-- Notifications -->
			
					<!-- /Notifications -->
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									
								</div>
								<div class="user-text">
									<h6>Ryan Taylor</h6>
									<p class="text-muted mb-0">User</p>
								</div>
							</div>
							<a class="dropdown-item" href="/users/profile">My Profile</a>
							<a class="dropdown-item" href="/logout">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
{{else}}
<!-- Header -->
            <div class="header"  style="box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="/" class="logo">
						<img src="/assets/img/Estorelogo.png" style="max-height: 115px;
    padding-bottom: 24px;" alt="Logo">
					</a>
					<a href="/" class="logo logo-small">
						<img src="/assets/img/estoreSmalllogo.png" style="max-height: 70px;" alt="Logo" width="70" height="70">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>

					<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
				
		
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					<!-- Notifications -->
			
					<!-- /Notifications -->
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
							
								<div class="user-text">
							
									<p class="text-muted mb-0">User</p>
								</div>
							</div>
							<a class="dropdown-item" href="/signin">SignIn</a>
							<a class="dropdown-item" href="/signup">SignUp</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
{{/if}}
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" style="    background-color:#ffffff8c;"  id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span style="color: #000;"> Main</span>
							</li>
							<li > 
								<a style="color: #000;" href="/users/upload"><i class="fe fe-home"></i> <span>Seller mode</span></a>
							</li>
							<li> 
								<a style="color: #000;" href=""><i class="fe fe-layout"></i> <span>Chat</span></a>
							</li>
							<li> 
								<a style="color: #000;" href="/users/sellerview"><i class="fe fe-users"></i> <span>My Products</span></a>
							</li>	
								</ul>
		
						
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
                <div class="content container-fluid">
					

					<!-- /Page Header -->			
						
							<!-- Recent Orders -->
								<div class="row">
			<div class="col-md-12">
		

				<!-- Carousel indicators -->

				<!-- Wrapper for carousel items -->
				

				{{!-- cards --}}


<div class="container">
<form class="form-horizontal" action="/users/upload" method="POST" enctype="multipart/form-data">
<fieldset>

<!-- Form Name -->

<legend>Seller Form</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="itemName">ItemName</label>  
  <div class="col-md-4">
  <input id="itemName" name="itemName" type="text" placeholder="ItemName"   class="form-control input-md" required="">
  
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="location">location</label>
  <div class="col-md-4">
    <select id="location" name="location" class="form-control">
      <option >location</option>
      <option >wayanad</option>
      <option >malapuram</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label"  for="category">category</label>
  <div class="col-md-4">
    <select id="category" name="category" class="form-control">
      {{#each data}}
      <option style="text-transform: uppercase;" >{{this.name}}</option>
      {{/each}}
  
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Date">Date</label>  
  <div class="col-md-4">
  <input id="Date"  name="Date" type="date" placeholder="Date" class="form-control input-md" required="">
 
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Description">Description</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="Description"  placeholder="Product description.." name="Description"  ></textarea>
  </div>
</div>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">File Upload</label>
  <div class="col-md-4">
    <input id="filebutton" name="file"  class="input-file" type="file">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>

</div>


{{!-- cards --}}
			</div>
			<!-- Carousel controls -->

		</div>
							<!-- /Feed Activity -->
							
						</div>
					</div>
				
						</div>
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
	

		<!-- jQuery -->
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<script src="/assets/plugins/raphael/raphael.min.js"></script>    
		<script src="/assets/plugins/morris/morris.min.js"></script>  
		<script src="/assets/js/chart.morris.js"></script>
		
		<!-- Custom JS -->
		<script  src="/assets/js/script.js"></script>


